@media (max-width: 1230px) {
  .container {
    padding: 0 60px;
  }

  .info {
    margin-top: 170px;
    margin-bottom: 400px;
  }
}

@media (max-width: 1200px) {

  .sect-2-wrap-block:first-child,
  .sect-2-wrap-block:last-child {
    max-width: 250px;
  }

  .sect-2-wrap-block:nth-child(2) {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .info {
    margin-top: 150px;
    margin-bottom: 300px;
  }

  .sect-2-wrapper {
    display: flex;
    justify-content: center;
  }

  .sect-2-wrap-block:first-child {
    order: 1;
    margin: 0 45px;
  }

  .sect-2-wrap-block:last-child {
    order: 2;
    margin: 0 45px;
  }

  .sect-2-wrap-block:nth-child(2) {
    order: 3;
    margin: 0 25px;
  }
}

@media (max-width: 980px) {
  .sect-2-wrap-block:first-child {
    margin: 0 33px;
    max-width: 200px;
  }

  .sect-2-wrap-block:last-child {
    margin: 0 33px;
    max-width: 200px;
  }

  .sect-2-wrap-block:nth-child(2) {
    margin: 0 25px;
    max-width: 250px;
  }

  .sect-2-wrap-block-title {
    margin: 13px 0;
    font-size: 20px;
    line-height: 22px;
  }

  .sect-2-wrap-block-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .header-item:first-child {
    display: none;
  }

  .info {
    margin-top: 120px;
    margin-bottom: 200px;
  }

  .sect-2-title {
    width: 95%;
    font-size: 40px;
    background-size: contain;
  }
}



@media (max-width: 650px) {
  .container {
    padding: 0 20px;
  }

  .info-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
  }

  .info-text {
    font-size: 16px;
    line-height: 24px;
  }

  .info-btn {
    font-size: 20px;
    line-height: 30px;
    padding: 6px 20px 13px 22px;
  }

  .sect-2-title {
    font-size: 29px;
    line-height: 36px;
  }
}

@media (max-width: 580px) {
  .sect-2-wrap-block:first-child {
    order: 1;
  }
  
  .sect-2-wrap-block:last-child {
    order: 3;
  }
  
  .sect-2-wrap-block:nth-child(2) {
    order: 2;
    max-width: 230px;
  }
}


@media (max-width: 500px) {
  .header-item:nth-child(3) {
    display: none;
  }

  .sect-2-title {
    font-size: 25px;
    line-height: 31px;
    padding: 15px 31px 85px;
  }
}


@media (max-width: 400px) {

  .info-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
  }

  .info-text {
    font-size: 16px;
    line-height: 22px;
  }

  .sect-2-title {
    font-size: 23px;
    line-height: 27px;
    padding: 15px 7px 70px;
  }
}

@media (max-width: 350px) {
  .info {
    margin-top: 70px;
    margin-bottom: 115px;
  }

  .info-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
  }

  .info-text {
    font-size: 16px;
    line-height: 20px;
  }
}