@media (max-width: 1230px) {
  .container {
    padding: 0 60px;
  }

  .info {
    margin-top: 170px;
    margin-bottom: 400px;
  }
}

@media (max-width: 1200px) {
  :root {
    --width-product: 110px
  }

  .sect-2-wrap-block:first-child,
  .sect-2-wrap-block:nth-child(3) {
    max-width: 250px;
  }

  .sect-2-wrap-block:nth-child(2) {
    max-width: 300px;
  }

  .sect-3-product-btn{
    width: 170px;
  }

  .product-hero-messege {
    padding-top: 15px;
    left: -5%;
  }
    
  .product-hero-messege p {
    font-size: 8px;
    line-height: 10px;
  }

}

@media (max-width: 1024px) {
  :root{
    --trans-bg:1500ms
  }

  .info {
    margin-top: 150px;
    margin-bottom: 300px;
  }

  .sect-2-wrapper {
    display: flex;
    justify-content: center;
  }

  .sect-2-wrap-block:first-child {
    order: 1;
    margin: 0 45px;
  }

  .sect-2-wrap-block:nth-child(3) {
    order: 2;
    margin: 0 45px;
  }

  .sect-2-wrap-block:nth-child(2) {
    order: 3;
    margin: 0 25px;
  }

  /* ---------------section-2-bg------------------- */


  .top-left-bg {
    top: -10%;
    left: 0;
    width: 40%;

  }

  .top-right-bg {
    top: -10%;
    right: 5%;
    width: 40%;
  }

  .bottom-right-bg {
    bottom: 0;
    width: 40%;
  }

  .bottom-left-bg {
    bottom: 0;
    left: 5%;
    width: 40%;
  }

  .section-2 {
     padding-bottom: 15px;
  }
}

@media (max-width: 980px) {
  :root {
    --width-product: 80px
  }

  .sect-2-wrap-block:first-child {
    margin: 0 33px;
    max-width: 200px;
  }

  .sect-2-wrap-block:nth-child(3) {
    margin: 0 33px;
    max-width: 200px;
  }

  .sect-2-wrap-block:nth-child(2) {
    margin: 0 25px;
    max-width: 250px;
  }

  .sect-2-wrap-block-title {
    margin: 13px 0;
    font-size: 20px;
    line-height: 22px;
  }

  .sect-2-wrap-block-text {
    font-size: 16px;
    line-height: 20px;
  }

  .section-3 {
    padding-top: 220px;
    padding-bottom: 100px;

  }

  .sect-3-product-btn{
    width: 120px;
  }

  .sect-3-product-title {
    font-size: 18px;
    line-height: 22px;
  }

  .product-hero-messege {
    padding-top: 10px;
    top: -25%;
    left: -5%;
  }
    
  .product-hero-messege p {
    font-size: 6px;
    line-height: 8px;
  }
}

@media (max-width: 768px) {
  :root {
    --width-product: 65px
  }

  .header-item:first-child {
    display: none;
  }

  .info {
    margin-top: 120px;
    margin-bottom: 200px;
  }

  .sect-2-title {
    width: 95%;
    font-size: 40px;
    background-size: contain;
  }

  /* ---------------section-2-bg------------------- */

  .top-left-bg {
    top: 0;
    height: 100vh;
  }

  .top-right-bg {
    top: 0;
    height: 100vh;
  }

  .bottom-right-bg {
    height: 100vh;
  }

  .bottom-left-bg {
    height: 100vh;
  }

  .section-3 {
    padding-top: 180px;
    padding-bottom: 70px;
  }

  .sect-3-product-btn{
    width: 100px;
  }

  .sect-3-product-title {
    font-size: 14px;
    line-height: 18px;
  }

  .product-hero-messege {
    padding-top: 9px;
    top: -30%;
    left: 3%;
  }
    
  .product-hero-messege p {
    font-size: 5px;
    line-height: 6px;
  }
}



@media (max-width: 650px) {
  .container {
    padding: 0 20px;
  }

  .info-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
  }

  .info-text {
    font-size: 16px;
    line-height: 24px;
  }

  .info-btn {
    font-size: 20px;
    line-height: 30px;
    padding: 6px 20px 13px 22px;
  }

  .sect-2-title {
    font-size: 29px;
    line-height: 36px;
  }
}

@media (max-width: 580px) {
  .sect-2-wrap-block:first-child {
    order: 1;
  }

  .sect-2-wrap-block:nth-child(3) {
    order: 3;
  }

  .sect-2-wrap-block:nth-child(2) {
    order: 2;
    max-width: 230px;
  }

  .section-3 {
    padding-top: 150px;
  }


  .sect-3-product-btn{
    width: 80px;
  }

  .sect-3-product-title {
    font-size: 12px;
    line-height: 15px;
  }
}


@media (max-width: 500px) {
  .header-item:nth-child(3) {
    display: none;
  }

  .sect-2-title {
    font-size: 25px;
    line-height: 31px;
    padding: 15px 31px 85px;
  }

  .product-hero-messege {
    top: -35%;
    left: 0;
  }

  .sect-3-product-btn{
    width: 65px;
  }

  .sect-3-product-title {
    font-size: 9px;
    line-height: 13px;
  }
}


@media (max-width: 400px) {

  .info-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
  }

  .info-text {
    font-size: 16px;
    line-height: 22px;
  }

  .sect-2-title {
    font-size: 23px;
    line-height: 27px;
    padding: 15px 7px 70px;
  }

  .section-3 {
    padding-top: 130px;
    padding-bottom: 50px;
  }

}

@media (max-width: 350px) {
  .info {
    margin-top: 70px;
    margin-bottom: 115px;
  }

  .info-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
  }

  .info-text {
    font-size: 16px;
    line-height: 20px;
  }

  .sect-3-product-btn{
    width: 50px;
  }

  .sect-3-product-title {
    font-size: 8px;
    line-height: 12px;
  }
}